<div class="container">
  <header class="border-bottom lh-1 py-3">
    <div class="row flex-nowrap align-items-center">
      
      <div class="col-6 text-end">
        <%= link_to "Blog", blogs_path, class: "blog-header-logo text-body-emphasis text-decoration-none #{active_class(blogs_path)}" %>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <%= login_helper "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-center" style="padding-right: 7px;">
      <%= nav_helper 'nav-item nav-link link-body-emphasis blog-nav-item', 'span' %>
    </nav>
  </div>
</div>