<main class="px-3">
  <h1>About Me</h1>
	<br>
  <p class="lead">As a passionate software engineer, I thrive on turning complex problems into elegant solutions. With a background in computer science and years of hands-on experience, I've honed my skills in various programming languages and frameworks.</p>
</main> 


