<main class="px-3">
  <h1>About Me</h1>
	<br>
  <p class="lead">As a passionate software engineer, I thrive on turning complex problems into elegant solutions. With a background in computer science and years of hands-on experience, I've honed my skills in various programming languages and frameworks. My journey has taken me from developing intuitive user interfaces to designing robust backend systems, always with a focus on quality and performance. I enjoy working on projects that challenge me to think critically and push the boundaries of technology. Beyond coding, I love collaborating with diverse teams to bring innovative ideas to life. </p>
</main> 


